body{
    padding: 0;
    margin: 0;
background-color:rgb(163, 163, 163);
}
#header{
    background-color: rgb(73, 219, 73);
}
section{
    border: 2px solid black;
    padding: 99px 23px;
    margin: 12px;
}
.NameandNum {
    /* border: 2px solid black;
    width: 200px;
    height: 100px; */
}
.Features {
    /* border: 3px solid black;
    width: 200px;
    height: 100px; */
}
.navbar{
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    margin-left: 23px;
    justify-content: space-around;
}
.navbar a{
        color: black;
        text-decoration: none;
        margin: 0 175px;
        font-size: 18px;
}